* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
.Website-Title{
    text-align: center;
    padding: 20px;
}

/* Input Box Layout And Styling*/

.Input-Container{
    display: flex; 
    justify-content: center;
}

/* Input Container*/

.Input-Container-Container{
    display:flex;
    justify-content: center;
}

#Input{
    height: 250px;
    width: 250px;
    background-color: blanchedalmond;
    padding-top: 35px;
}