* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
.Website-Title{
    text-align: center;
    padding: 20px;
}


/* Input Box Layout And Styling*/
.Input-Container{
    display: flex; 
    justify-content: center;
}


/* Input Container*/
.Input-Container-Container{height: 250px; width: 250px; display:flex; justify-content: center; padding-top: 35px;}

#Input{height: 250px; width: 250px; background-color: blanchedalmond;}

/*Delete Button*/
.Delete-Button{margin-right:10px;}

.Host-Container{display:flex; justify-content: space-between;}