* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
.Website-Title{
    text-align: center;
    padding: 20px;
}

/* Input Box Layout And Styling*/

.Input-Container{
    display: flex; 
    justify-content: center;
}

.User-Input{ 
    width: 250px;
    height: auto; 
    display:flex;
    
    
}